.include-header {
    width: 100%;
    height: fit-content;
    z-index: 9;
}

.headerContent {
    width: 100%;
    height: 100px;

    justify-content: space-between;

    background-color: var(--header-background);
    box-shadow: 0px -1px 10px 2px var(--header-shadow);
}

.header-img {
    display: none;
}

.header-title {
    font-size: 30px;
    font-weight: 600;

    padding-left: 75px;
}

.headerContentUser {
    width: 150px;
    height: 100%;

    justify-content: space-evenly;
}

.information {
    width: 30px;
    cursor: pointer;
}

.user {
    width: 50px;
    height: 50px;
    
    background-color: var(--user-background);
    border-radius: 50%;
    border: 3px solid var(--user-border);
    
    object-fit: cover;
    cursor: pointer;
    overflow: hidden;
}

.user-initials {
    font-size: 22px;
    font-weight: 600;
    color: var(--user-initials);
}

.header-user-image {
    width: 100%;


    border-radius: 50px;
}

.user-menu {
    width: 200px;
    height: fit-content;

    display: none;
    gap: 5px;

    position: absolute;
    top: 100px;
    right: 35px;

    background-color: var(--desktop-background);
    border-radius: 20px 0px 20px 20px;

    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 999;
}

.menu-contain {
    width: 80%;
    height: 30px;

    justify-content: space-between;

    border-bottom: 1px solid var(--highlighted);
    cursor: pointer;
}

.menu-contain:hover {
    background-color: var(--highlighted);
}

.menu-point {
    font-size: 22px;
    font-weight: 600;
    color: var(--dark-background-font);

    margin-left: 10px;
}

.power-btn {
    width: 18px;
    margin-right: 10px;
}

.query-menu {
    display: none;
}