@media all and (min-width: 1001px) and (max-width: 1500px) {
    .contacts-title-contain {
        width: 90%;
    }

    .contacts-title {
        width: 200px;
    }

    .contacts-contain {
        width: 100%;
        height: calc(100vh - 269px);
    }

    .contacts-contain-left1 {
        width: 275px;
    }

    .file {
        width: 90%;
    
        padding-right: 10px;
    }

    .contact {
        width: 90%;
    
        gap: 10px;
        padding-left: 10px;
    }

    .contact-initials {
        width: 35px;
        height: 35px;
    
        font-size: 17px;
    }

    /* Contact Ad Area */
    
    .contact-contain-right1 {
        width: calc(100% - 275px);
    }

    /* Add Contact */
    
    .add-contact-main {
        width: 950px;
        height: 325px;
        left: 25px;
    }

    .add-contact-left {
        gap: 7px;
    }

    .add-contact-left-text1 {
        font-size: 30px;
    }

    .add-contact-left-line {
        height: 30px;
    }

    .add-contact-right {
        height: 100%;
    
        gap: 15px;
    }

    .add-contact-clear-btn .add-contact-btn-img-blue {
        display: none;
        position: absolute;
        top: 14px;
        right: 35px;
        z-index: 99;
    }

    /* Contact */
    
    .contact-contain-right2 {
        width: 90%;
        height: 95%;
    
        gap: 35px;
    }

    .contact-name {
        font-size: 35px;
        text-decoration: underline;
        text-decoration-color: var(--highlighted);
    }

    /* Contact Tasks */

    .contact-tasks-contain1 {
        overflow: scroll;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .contact-tasks-contain2 {
        width: fit-content;
        gap: 15px;
        flex: 0 0 auto;
    }
}